{% extends 'base.html' %}

{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
{{ error }}
</div>
{% endif %}
<h1>Sign up</h1>
<form method="POST" action="{% url 'signup' %}">{% csrf_token %}
    <label>User name:</label><br/>
    <input type="text" name="username"/><br/>
    <label>Password:</label><br/>
    <input type="password" name="password1"/><br/>
    <label>Confirm password:</label><br/>
    <input type="password" name="password2"/><br/>
    <input type="submit" value="Sign Up" class="btn btn-primary"/>
</form>
{% endblock %}